// 单行溢出显示省略号
._one_omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//多行溢出省略号
._more_omit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
// 英文，单词中换行
._more_worp{
  word-wrap:break-word;
  word-break:break-all;
}


// 隐藏滚动条但可滚动
._hideScrollbar {
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
}
._key{
  color: $active-color;
}
// 鼠标悬浮手型
._cursor_pointer {
  cursor: pointer;
}

._disabled {
  background: #dddddd !important;
  cursor: not-allowed !important;
  color: #fff !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: #909399;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 10px;
  background-color: #909399;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
// @font-face {
//   font-family: SourceHanSansCN-Bold;
//   src: url("https://dazhonghua-xiaoyao.oss-cn-guangzhou.aliyuncs.com/dbchain_web/%E6%80%9D%E6%BA%90%E9%BB%91%E4%BD%93%20CN-Bold.otf");
//   /* IE9 */
// }

// @font-face {
//   font-family: SourceHanSansCN-ExtraLight;
//   src: url("https://dazhonghua-xiaoyao.oss-cn-guangzhou.aliyuncs.com/dbchain_web/%E6%80%9D%E6%BA%90%E9%BB%91%E4%BD%93%20CN-ExtraLight.otf");
//   /* IE9 */
// }

// @font-face {
//   font-family: SourceHanSansCN-Heavy;
//   src: url("https://dazhonghua-xiaoyao.oss-cn-guangzhou.aliyuncs.com/dbchain_web/%E6%80%9D%E6%BA%90%E9%BB%91%E4%BD%93%20CN-Heavy.otf");
//   /* IE9 */
// }

@font-face {
    font-family: SourceHanSansCN-Light;
    src: url("https://oss.dbchain.cloud/dbchain_web/%E6%80%9D%E6%BA%90%E9%BB%91%E4%BD%93%20CN-Light.otf");
    // src: url("https://dazhonghua-xiaoyao.oss-cn-guangzhou.aliyuncs.com/dbchain_web/%E6%80%9D%E6%BA%90%E9%BB%91%E4%BD%93%20CN-Light.otf");
  
    /* IE9 */
  }
  
  @font-face {
    font-family: SourceHanSansCN-Medium;
    // src: url("https://dazhonghua-xiaoyao.oss-cn-guangzhou.aliyuncs.com/dbchain_web/%E6%80%9D%E6%BA%90%E9%BB%91%E4%BD%93%20CN-Medium.otf");
    src: url("https://oss.dbchain.cloud/dbchain_web/%E6%80%9D%E6%BA%90%E9%BB%91%E4%BD%93%20CN-Medium.otf");
    /* IE9 */
  }
  
  @font-face {
    font-family: SourceHanSansCN-Normal;
    // src: url("http://oss.dbchain.cloud/dbchain_web/%E6%80%9D%E6%BA%90%E9%BB%91%E4%BD%93%20CN-Normal.otf");
    src: url("https://dazhonghua-xiaoyao.oss-cn-guangzhou.aliyuncs.com/dbchain_web/%E6%80%9D%E6%BA%90%E9%BB%91%E4%BD%93%20CN-Normal.otf");
  
    /* IE9 */
  }
  
  @font-face {
    font-family: SourceHanSansCN-Regular;
    src: url("https://oss.dbchain.cloud/dbchain_web/%E6%80%9D%E6%BA%90%E9%BB%91%E4%BD%93%20CN-Regular.otf");
    // src: url("https://dazhonghua-xiaoyao.oss-cn-guangzhou.aliyuncs.com/dbchain_web/%E6%80%9D%E6%BA%90%E9%BB%91%E4%BD%93%20CN-Regular.otf");
  
    /* IE9 */
  }



  @media only screen  and (max-device-width: 376px) {
    ._mobile_index{
      ._content2_desc,._text{
      
      }
      ._content_1 ._txt3,
      ._content2 ._content2_desc,
      ._content2_1 ._text,
      ._content4 ._text
      {
      font-size: 14px !important;
      }
    }
  }

  ._doc{
    ._bold{
      color:#FFD36C !important;
    }
  }
